<section class="landing-banner-content">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="left-content">
          <h3>
            CIÊNCIAS <br class="d-block d-lg-none" />
            HUMANAS
          </h3>
          <button class="btn">Começar</button>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="assets/banner-inner-img.png"
          alt="Description of the image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
