.question-section {
  margin-top: 130px;

  h4 {
    color: #6c5ce7;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    text-align: justify;
  }
}

@media screen and (max-width: 767px) {
  .question-section {
    margin-top: 61px;
    padding: 0 45px;

    h4 {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
    }
  }
}
